/* You can add global styles to this file, and also import other style files */

.a{
    text-align: center;
    height: auto;
    color: yellow;
    font-size: xx-large;
    
    button{
        font-size: medium;
        color: #eef772;
        background-color: rgb(29, 31, 23);
        border-radius: 10px;
    }
}



body{
    background-image: url('/assets/Stars.gif'); /* Caminho para o GIF */
    background-position: center center; /* Centraliza o GIF */
    background-attachment: fixed; /* Mantém o fundo fixo ao rolar a página */
}
